.footer {
  background-color: rgba(222, 184, 135, 0.384);
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  margin-top: 10px;
}
.footer h5 {
  color: rgb(103, 60, 4);
}
.sosyal-medya-footer {
  display: flex;
  width: 25%;
  align-items: center;
}
